body{
	background-color: yellow;
}

h1{
font-size: 45px;
text-align: center;
font-family: arial;
color: red;
font-size:30px;
}

p{
font-size: 45px;
text-align: center;
font-family: arial;
color:black;
font-size:20px;
}